{% set main_menu = page.primary_menu|render %}
{% set secondary_menu = page.secondary_menu|render %}
{% set site_url = url("<current>") %}
{% set prev_site_url = app.request.headers.get('referer') %}
{% set members = 'members' in site_url|render|render %}
<div{{ attributes.addClass(
  main_menu or secondary_menu ? 'with-navigation',
  secondary_menu ? 'with-subnav', members ? 'members'
) }}>

  <!-- ______________________ HEADER _______________________ -->

  <header id="header">
    <div class="container">
      {% if page.header %}
        <div id="header-region">
          {{ page.header }}
        </div>
      {% endif %}
    </div>
  </header><!-- /#header -->

  {% if main_menu or secondary_menu %}
    <nav id="navigation" class="menu{% if main_menu %} with-primary{% endif %}{% if secondary_menu %} with-secondary{% endif %}">
      <div class="container">
        {{ main_menu }}
        {{ secondary_menu }}
      </div>
    </nav><!-- /#navigation -->
  {% endif %}

  <!-- ______________________ MAIN _______________________ -->

  <div id="main">
    <div class="container">
      <section id="content">

        <div id="content-header">

          {{ page.breadcrumb }}

          {% if page.highlighted|render %}
            <div id="highlighted">{{ page.highlighted }}</div>
          {% endif %}

          {{ title_prefix }}

          {% if title %}
            <h1 class="title">{{ title }}</h1>
          {% endif %}

          {{ title_suffix }}
          {{ page.help }}

          {% if tabs %}
            <div class="tabs">{{ tabs }}</div>
          {% endif %}

          {% if action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endif %}

        </div><!-- /#content-header -->

      {% block content %}
        <div id="content-area" class="story-submit-form">
        {{ prev_site_url }}
          {{ page.content }}
        </div>
      {% endblock %}
      </section><!-- /#content -->

      {% if page.sidebar_first|render %}
        <aside id="sidebar-first" class="column sidebar first">
          {{ page.sidebar_first }}
        </aside><!-- /#sidebar-first -->
      {% endif %}

      {% if page.sidebar_second|render %}
        <aside id="sidebar-second" class="column sidebar second">
          {{ page.sidebar_second }}
        </aside><!-- /#sidebar-second -->
      {% endif %}
    </div><!-- /.container -->
  </div><!-- /#main -->

  <!-- ______________________ FOOTER _______________________ -->

  {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}

    {% if 'professional' in site_url|render|render %}
      <footer id="footer" class="professional">
    {% else %}
      <footer id="footer">
    {% endif %}
      <div class="flex-row col-md-11 centered">
        {% if page.footer_first %}
        <div class="footer-first col-md-2">
          {{ page.footer_first }}
        </div>
        {% endif %}
        {% if page.footer_second %}
          <div class="footer-second col-md-4">
            {{ page.footer_second }}
          </div>
        {% endif %}
        {% if page.footer_third %}
          <div class="footer-third col-sm-12 col-xl-3">
            {{ page.footer_third }}
          </div>
        {% endif %}
        {% if page.footer_fourth %}
          <div class="footer-fourth col-sm-12 col-xl-2">
            {{ page.footer_fourth }}
          </div>
        {% endif %}
      </div>
    </footer>
  {% endif %}

  {% if 'professional' in site_url|render|render %}
    <footer id="footer-bottom" class="professional">
  {% else %}
    <footer id="footer-bottom">
  {% endif %}
      <div class="container">
        <a href="https://www.designosource.be" target="_blank">Website by Designosource</a>
      </div>
  </footer>

</div><!-- /.layout-container -->
