<article{{ attributes }}>
    {% if content %}
        {{ content.user_picture }}
        {{ content.field_firstname }} {{ content.field_name }}
        {{ content.field_location }}
        <div class="socials-icons">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
            <a href="#">LinkedIn</a>
        </div>
        <h1>Template test</h1>
    {% endif %}
</article>
